<%- include("../includes/header.ejs", {title:"Account - " + result[0].account_name}); %>
<h1>Accounts</h1>
<ul>
    <li>Name: <%= result[0].first_name %> <%= result[0].last_name %></li>
    <li>Email: <%= result[0].email %></li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>